<!DOCTYPE html>
<html>
    <head>
        <title>OMERO web app</title>
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/app.css' %}" />

        <script type="text/javascript">
            // Global variables, used by JavaScript code.
            window.PARAMS = {
                EXP_ID: {{ experimenterId }},
                API_BASE_URL: "{% url 'api_base' 0 %}" 
            };
           
        </script>
    </head>

    <body>
        <h1>Welcome to OMERO</h1>
        <p>
            Logged in as:
            <strong>{{ firstName }} {{ lastName }}</strong>
        </p>
        
        <p id="projects">
            Loading Projects...
        </p>

        <script src="{% static 'webapp/app.js' %}"></script>
    </body>
</html>
